*.pyc
*.bib
*.bak
*.aux
*.log
*.toc
*.out
*.Rhistory
*.RData
*Figs*
*synctex.gz
**/__pycache__
**/_book
**/radon
**/_bookdown_files
**/codpy-book_files
**/sandbox
apps/data/creditcardfraud.csv
apps/Clustering/Output.xml
apps/Clustering/.RData
apps/Clustering/.Rhistory
.Rproj.user
**/Output*


